.logo {
  width: auto;
  height: 80%; }

.headerWrapper {
  background-color: #faf8f1;
  height: 7rem;
  padding: 1.5rem;
  margin: 0;
  color: #a1be52;
  font-family: "Quicksand", sans-serif; }

.navigation {
  margin: 0; }
  .navigation > ul {
    height: 3rem;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: horizontal;
    justify-content: flex-end;
    align-items: center;
    list-style: none; }
    .navigation > ul > li {
      margin-left: 3rem;
      text-decoration: none; }
      .navigation > ul > li a {
        text-decoration: none;
        color: #a1be52; }
        .navigation > ul > li a.active {
          border-bottom: 2px solid #a1be52; }
        .navigation > ul > li a:visited {
          color: #a1be52; }
        .navigation > ul > li a:hover {
          color: #a1be52; }
