@import "../../../style-cfg.scss";

.logo {
  width: auto;
  height: 80%;
}

.headerWrapper {
  background-color: $palette_creme;
  height: 7rem;
  padding: 1.5rem;
  margin: 0;
  color: $palette_green;
  font-family: $font_basic;
}

.navigation {
  margin: 0;
  & > ul {
    height: 3rem;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: horizontal;
    justify-content: flex-end;
    align-items:center;
    list-style: none;
    & > li {
      margin-left: 3rem;
      text-decoration: none;
      & a {
        text-decoration: none;
        color: $palette_green;
        &.active {
          border-bottom: 2px solid $palette_green;
        }
        &:visited {
          color: $palette_green;
        }
        &:hover {
          color: $palette_green;
        }
      }
    }
  }
}
