@keyframes fadeIn {
  from {visibility: hidden; opacity: 0;}
  to {visibility: visible; opacity: 1;}
}

@keyframes fadeOut {
  from {visibility: visible; opacity: 1;}
  to {visibility: hidden; opacity: 0;}
}

@keyframes shake {
  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 100%;
  }
  15% {
    transform: rotate(2deg);
  }
  30%, 55% {
    transform: rotate(-4deg);
  }
  40%, 60% {
    transform: rotate(4deg);
  }
  90% {
    transform: rotate(-2deg);
  }
}
