// Quiz styling parameters that can be tweaked

$button-height: 5vmin;
$text-size: 0.5 * $button-height;
$button-margin: 1vmin;

$button-main-color: #3093C7;
$button-main-text-color: white;

$button-selected-color: saturate(lighten($button-main-color, 15%), 10%);
$button-selected-text-color: #fffef9;

$button-disabled-color: lighten(grayscale($button-main-color), 40%);
$button-disabled-text-color: white;

$normal-button-animation-time: 0.5s;
$max-button-animation-time: $normal-button-animation-time + 0.1s;

// -- End of quiz style parameters

@import "./basicAnimations.scss";

@function calculateSliding($direction, $parity, $slideCount) {
  $sign: if($direction == "Up", -1, 1);

  $formula: if($parity == 'even',
    ($slideCount - 1) * ($button-height + 2 * $button-margin) +
      ($button-height + 2 * $button-margin) / 2,
    $slideCount * ($button-height + 2 * $button-margin));

  @return $sign * $formula;
}

$directions: 'Up', 'Down';
$parities: 'odd', 'even';

@for $i from 1 through 3 {
  @each $d in $directions {
    @each $p in $parities {
      @keyframes slide#{$d}-by-#{$i}-#{$p} {
        to {transform: translateY(calculateSliding($d, $p, $i));}
      }
    }
  }
}

@keyframes solutionHighlight {
  from  {
    background-color: white;
    opacity: 1;
  }
  40%, 80% {
    background-color: #edf9a4;
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.quizWrapper {
  margin: 5rem 0;
}

.quiz {
  width: 100%;
}

.question {
  display: flex;
  align-items: center;
  font-size: $text-size;

  &.new {
    animation: fadeIn $normal-button-animation-time forwards ease-out;
  }

  &.solved {
    border-radius: $button-height;
    padding: 0.3 * $button-height $button-height;
    height: 1.3 * $button-height;
    animation: solutionHighlight 2s $max-button-animation-time;
    button {
      font-size: $text-size;
    }
  }
}

ul.quiz-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;

  li {
    position: relative;

    &.disappear {
      animation: fadeOut 0.4s forwards;
    }

    @for $i from 1 through 3 {
      @each $d in $directions {
        @each $p in $parities {
          &.move#{$d}-by-#{$i}-#{$p} {
            animation: slide#{$d}-by-#{$i}-#{$p} 0.5s forwards;
          }
        }
      }
    }

    img.wrong {
      position: absolute;
      width: auto;
      height: 60%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto auto;
      z-index: 2;
      animation: fadeIn 0.4s, shake 0.4s;
    }
  }

  button {
    height: $button-height;
    font-size: 0.8 * $text-size;
    padding: 0 0.5 * $button-height;
    margin: $button-margin;

    border-width: 0;
    border-radius: 0.2 * $button-height;
    background-color: $button-main-color;
    color: $button-main-text-color;

    transition: all 0.4s;

    &:hover {
      background-color: $button-selected-color;
      color: $button-selected-text-color;
    }

    &:focus {
      outline: none;
    }

    &.wrong {
      background-color: $button-disabled-color;
      color: $button-disabled-text-color;
      animation: shake 0.5s;
    }
  }
}
