@keyframes fadeIn {
  from {
    visibility: hidden;
    opacity: 0; }
  to {
    visibility: visible;
    opacity: 1; } }

@keyframes fadeOut {
  from {
    visibility: visible;
    opacity: 1; }
  to {
    visibility: hidden;
    opacity: 0; } }

@keyframes shake {
  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 100%; }
  15% {
    transform: rotate(2deg); }
  30%, 55% {
    transform: rotate(-4deg); }
  40%, 60% {
    transform: rotate(4deg); }
  90% {
    transform: rotate(-2deg); } }

@keyframes slideUp-by-1-odd {
  to {
    transform: translateY(-7vmin); } }

@keyframes slideUp-by-1-even {
  to {
    transform: translateY(-3.5vmin); } }

@keyframes slideDown-by-1-odd {
  to {
    transform: translateY(7vmin); } }

@keyframes slideDown-by-1-even {
  to {
    transform: translateY(3.5vmin); } }

@keyframes slideUp-by-2-odd {
  to {
    transform: translateY(-14vmin); } }

@keyframes slideUp-by-2-even {
  to {
    transform: translateY(-10.5vmin); } }

@keyframes slideDown-by-2-odd {
  to {
    transform: translateY(14vmin); } }

@keyframes slideDown-by-2-even {
  to {
    transform: translateY(10.5vmin); } }

@keyframes slideUp-by-3-odd {
  to {
    transform: translateY(-21vmin); } }

@keyframes slideUp-by-3-even {
  to {
    transform: translateY(-17.5vmin); } }

@keyframes slideDown-by-3-odd {
  to {
    transform: translateY(21vmin); } }

@keyframes slideDown-by-3-even {
  to {
    transform: translateY(17.5vmin); } }

@keyframes solutionHighlight {
  from {
    background-color: white;
    opacity: 1; }
  40%, 80% {
    background-color: #edf9a4;
    opacity: 1; }
  to {
    opacity: 0; } }

.quizWrapper {
  margin: 5rem 0; }

.quiz {
  width: 100%; }

.question {
  display: flex;
  align-items: center;
  font-size: 2.5vmin; }
  .question.new {
    animation: fadeIn 0.5s forwards ease-out; }
  .question.solved {
    border-radius: 5vmin;
    padding: 1.5vmin 5vmin;
    height: 6.5vmin;
    animation: solutionHighlight 2s 0.6s; }
    .question.solved button {
      font-size: 2.5vmin; }

ul.quiz-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none; }
  ul.quiz-buttons li {
    position: relative; }
    ul.quiz-buttons li.disappear {
      animation: fadeOut 0.4s forwards; }
    ul.quiz-buttons li.moveUp-by-1-odd {
      animation: slideUp-by-1-odd 0.5s forwards; }
    ul.quiz-buttons li.moveUp-by-1-even {
      animation: slideUp-by-1-even 0.5s forwards; }
    ul.quiz-buttons li.moveDown-by-1-odd {
      animation: slideDown-by-1-odd 0.5s forwards; }
    ul.quiz-buttons li.moveDown-by-1-even {
      animation: slideDown-by-1-even 0.5s forwards; }
    ul.quiz-buttons li.moveUp-by-2-odd {
      animation: slideUp-by-2-odd 0.5s forwards; }
    ul.quiz-buttons li.moveUp-by-2-even {
      animation: slideUp-by-2-even 0.5s forwards; }
    ul.quiz-buttons li.moveDown-by-2-odd {
      animation: slideDown-by-2-odd 0.5s forwards; }
    ul.quiz-buttons li.moveDown-by-2-even {
      animation: slideDown-by-2-even 0.5s forwards; }
    ul.quiz-buttons li.moveUp-by-3-odd {
      animation: slideUp-by-3-odd 0.5s forwards; }
    ul.quiz-buttons li.moveUp-by-3-even {
      animation: slideUp-by-3-even 0.5s forwards; }
    ul.quiz-buttons li.moveDown-by-3-odd {
      animation: slideDown-by-3-odd 0.5s forwards; }
    ul.quiz-buttons li.moveDown-by-3-even {
      animation: slideDown-by-3-even 0.5s forwards; }
    ul.quiz-buttons li img.wrong {
      position: absolute;
      width: auto;
      height: 60%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto auto;
      z-index: 2;
      animation: fadeIn 0.4s, shake 0.4s; }
  ul.quiz-buttons button {
    height: 5vmin;
    font-size: 2vmin;
    padding: 0 2.5vmin;
    margin: 1vmin;
    border-width: 0;
    border-radius: 1vmin;
    background-color: #3093C7;
    color: white;
    transition: all 0.4s; }
    ul.quiz-buttons button:hover {
      background-color: #5fb6e4;
      color: #fffef9; }
    ul.quiz-buttons button:focus {
      outline: none; }
    ul.quiz-buttons button.wrong {
      background-color: #e2e2e2;
      color: white;
      animation: shake 0.5s; }
