@import "../../../style-cfg.scss";

.heroImage {
    max-width: 100%;
    width: auto;
    height: 100%;
}

.heroContainer {
  align-items: flex-end;
}

.heroTable {
  width: 100%;
  box-sizing: border-box;
  border-top: solid 7vh white;
  background: rgba(153, 184, 60, 245) url('./green_background.png') repeat;
  position: relative;

  .heroGradient {
    width: 100%;
    height: 50%;
    position: absolute;
    top: 50%;
    background: linear-gradient(to bottom, rgba(0, 81, 121, 0), rgba(0, 81, 121, 50));
    opacity: .2;
  }
}

.heroMessage {
  height: 100%;
  margin: 0 3vw;
  padding-bottom: 10vw;
  font-size: 1rem;
  line-height: 1.3rem;
  font-family: $font_basic;
  color: white;
  justify-content: space-around;
  align-items: center;

  .heroHeading{
    font-family: $font_handwriting;
    font-size: 2.5rem;
    padding: 1em 0;
  }

  .cta {
    text-align: center;
    margin-top: 3em;
    padding: 1em 2em;
    font-family: $font_heading;
    background-color: $palette_gold;
    border: none;
    color: $palette_grey;
  }
}

.cremeHeroSection {
  width: 100%;
  min-height: 15rem;
  background-color: $palette_creme;
  font-style: italic;
  font-family: $font_basic;
  color: $palette_grey;
  position: relative;
}

.notebookImage {
  position: absolute;
  top: -30%;
  right: 20%;
}

.customerQuote {
  padding: 3vh;
  line-height: 1.4;
  width: 40%;
}
