.heroImage {
  max-width: 100%;
  width: auto;
  height: 100%; }

.heroContainer {
  align-items: flex-end; }

.heroTable {
  width: 100%;
  box-sizing: border-box;
  border-top: solid 7vh white;
  background: #99b83c url("./hero/green_background.png") repeat;
  position: relative; }
  .heroTable .heroGradient {
    width: 100%;
    height: 50%;
    position: absolute;
    top: 50%;
    background: linear-gradient(to bottom, rgba(0, 81, 121, 0), #005179);
    opacity: .2; }

.heroMessage {
  height: 100%;
  margin: 0 3vw;
  padding-bottom: 10vw;
  font-size: 1rem;
  line-height: 1.3rem;
  font-family: "Quicksand", sans-serif;
  color: white;
  justify-content: space-around;
  align-items: center; }
  .heroMessage .heroHeading {
    font-family: "Engagement", cursive;
    font-size: 2.5rem;
    padding: 1em 0; }
  .heroMessage .cta {
    text-align: center;
    margin-top: 3em;
    padding: 1em 2em;
    font-family: "Oswald", sans-serif;
    background-color: #ecd450;
    border: none;
    color: #404040; }

.cremeHeroSection {
  width: 100%;
  min-height: 15rem;
  background-color: #faf8f1;
  font-style: italic;
  font-family: "Quicksand", sans-serif;
  color: #404040;
  position: relative; }

.customerQuote {
  padding: 3vh;
  line-height: 1.4;
  width: 40%; }
