.footerWrapper {
  background-color: #faf8f1;
  padding-top: 5rem;
  margin: 0;
  color: #404040;
  font-family: "Quicksand", sans-serif;
  font-size: 0.7rem; }

.copyright {
  padding-top: 5rem;
  padding-bottom: 1rem; }
