@import "../../../style-cfg.scss";


.footerWrapper {
  background-color: $palette_creme;
  padding-top: 5rem;
  margin: 0;
  color: $palette_grey;
  font-family: $font_basic;
  font-size: 0.7rem;
}

.copyright {
  padding-top: 5rem;
  padding-bottom: 1rem;
}
