@import "../../../style-cfg.scss";

.testimonials {
  font-family: $font_basic;
  color: $palette_grey;

  background: $palette_creme;
  padding-top: 3rem;
  h1 {
    font-size: 2rem;
  }
}

.userTestimonials {
  padding-bottom: 5rem;
  line-height: 1.5rem;
}

.userRow {
  padding-top: 5rem;
  font-size: 0.9rem;
}

.quote {
  height: 1.2rem;
}

.treeElement {
  display: inline-block;
  position: relative;
}

.greyOverlay {
  position: absolute;
  bottom: 0;
  background-color: rgba($palette_grey, .7);
  width: 100%;
  padding: 5rem;
}

.treeMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 1;
  font-family: $font_heading;
  font-size: 1.7rem;
  font-variant: small-caps;
  color: white;
  padding-left: 50vw;

  span {
    font-size: 2.5rem;
  }

  .cta {
    margin-top: 2rem;
    background-color: $palette_gold;
    color: $palette_grey;
    width: 15rem;
  }
}
