.testimonials {
  font-family: "Quicksand", sans-serif;
  color: #404040;
  background: #faf8f1;
  padding-top: 3rem; }
  .testimonials h1 {
    font-size: 2rem; }

.userTestimonials {
  padding-bottom: 5rem;
  line-height: 1.5rem; }

.userRow {
  padding-top: 5rem;
  font-size: 0.9rem; }

.quote {
  height: 1.2rem; }

.treeElement {
  display: inline-block;
  position: relative; }

.greyOverlay {
  position: absolute;
  bottom: 0;
  background-color: rgba(64, 64, 64, 0.7);
  width: 100%;
  padding: 5rem; }

.treeMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 1;
  font-family: "Oswald", sans-serif;
  font-size: 1.7rem;
  font-variant: small-caps;
  color: white;
  padding-left: 50vw; }
  .treeMessage span {
    font-size: 2.5rem; }
  .treeMessage .cta {
    margin-top: 2rem;
    background-color: #ecd450;
    color: #404040;
    width: 15rem; }
