html, body, #root {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0; }

body {
  font-family: "Quicksand", sans-serif;
  text-align: center; }

.flexContainer {
  display: flex; }

.flexItem {
  flex: 1; }

.flexColumn {
  flex-direction: column; }

.fehlerfrei {
  font-family: "Oswald", sans-serif;
  font-style: normal; }
