@import "../../style-cfg.scss";

html, body, #root {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: $font_basic;
  text-align: center;
}

.flexContainer {
    display: flex;
}

.flexItem {
    flex: 1;
}

.flexColumn {
  flex-direction: column;
}

.fehlerfrei {
  font-family: $font_heading;
  font-style: normal;
}
