@import "../../../style-cfg.scss";


.howSection {
  background: url('./pattern.png') repeat;
  font-family: $font_basic;
  color: $palette_grey;
  padding-bottom: 6rem;

  h1 {
    font-size: 2rem;
    padding: 5rem 0;
    svg {
      height: 1.3em;
      width: auto;
    }
    .fehlerfrei {
      padding: 0 0.3em;
    }
  }
}

.howSnippet {
  padding: 3rem;
  line-height: 1.2em;

  h3 {
    color: $palette_green;
    font-weight: bold;
  }
}

.howSeparator {
  background: $palette_green;
  height: 4rem;
  border-bottom: 1px dotted $palette_grey;
}
