.howSection {
  background: url("./pattern.png") repeat;
  font-family: "Quicksand", sans-serif;
  color: #404040;
  padding-bottom: 6rem; }
  .howSection h1 {
    font-size: 2rem;
    padding: 5rem 0; }
    .howSection h1 svg {
      height: 1.3em;
      width: auto; }
    .howSection h1 .fehlerfrei {
      padding: 0 0.3em; }

.howSnippet {
  padding: 3rem;
  line-height: 1.2em; }
  .howSnippet h3 {
    color: #a1be52;
    font-weight: bold; }

.howSeparator {
  background: #a1be52;
  height: 4rem;
  border-bottom: 1px dotted #404040; }
