$palette_green: #a1be52;
$palette_creme: #faf8f1;
$palette_gold: #ecd450;
$palette_blue: #3093c7;
$palette_grey: #404040;

$font_heading: 'Oswald', sans-serif;
$font_handwriting: 'Engagement', cursive;
$font_basic: 'Quicksand', sans-serif;
$font_quiz: 'Montserrat', sans-serif;
